In [114]:
##import dependencies
import pandas as pd
import csv
import json
import pymongo
from pymongo import MongoClient
import numpy as np

In [116]:
## upload kaggle csv
csv_kag=pd.read_csv("cleaned_ufo_data.csv")
csv_kag.reset_index(drop=True, inplace=False)
##remove country and duration hours/min
csv_kag1 =csv_kag.drop(['country','duration (hours/min)'], axis=1)
csv_kag1.rename(columns = {'longitude ':'longitude'}, inplace = True) 
csv_kag1

,datetime,city,state,shape,duration (seconds),comments,date posted,latitude,longitude,Month,Day,Time,Year
0,10/10/1993 22:00,peoria,il,light,8.0,Light over Peoria&#44 IL that moves slowly&#44...,10/11/2005,40.693611,-89.588889,10,10,22:00,1993
1,10/10/1993 23:00,carthage,tn,other,60.0,1 object with green and red lights,3/21/2003,36.252222,-85.951667,10,10,23:00,1993
2,10/10/1994 18:30,burnt hills,ny,rectangle,120.0,Giant rectangular craft (resembling an upside-...,10/23/2013,42.909722,-73.895556,10,10,18:30,1994
3,10/10/1994 22:00,pinebergen,ar,light,5.0,Round&#44 bright&#44 low flying object silentl...,2/18/2001,34.102778,-91.992222,10,10,22:00,1994
4,10/10/1996 03:20,higginsville,mo,triangle,3.0,illuminated triangular craft&#44 flying at hig...,2/16/2000,39.072500,-93.716944,10,10,03:20,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58126,9/9/2013 21:15,nashville,tn,light,600.0,Round from the distance/slowly changing colors...,9/30/2013,36.165833,-86.784444,9,9,21:15,2013
58127,9/9/2013 22:00,boise,id,circle,1200.0,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500,9,9,22:00,2013
58128,9/9/2013 22:00,napa,ca,other,1200.0,Napa UFO&#44,9/30/2013,38.297222,-122.284444,9,9,22:00,2013
58129,9/9/2013 22:20,vienna,va,circle,5.0,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556,9,9,22:20,2013
58130,9/9/2013 23:00,edmond,ok,cigar,1020.0,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778,9,9,23:00,2013

In [66]:
print(csv_kag1.columns)
print(web_csv.columns)

Index(['datetime', 'city', 'state', 'shape', 'duration (seconds)', 'comments',
       'date posted', 'latitude', 'longitude', 'Month', 'Day', 'Time', 'Year'],
      dtype='object')
Index(['Unnamed: 0', 'datetime', 'city', 'state', 'shape',
       'duration (seconds)', 'comments', 'date posted', 'latitude',
       'longitude', 'Month', 'Day', 'Time', 'Year'],
      dtype='object')

In [122]:
## upload website csv
web_csv=pd.read_csv("cleaned_scrapped_ufo_data_2.csv")
web_csv.reset_index(drop=True, inplace=False)
web_csv.tail()

,datetime,city,state,shape,duration (seconds),comments,date posted,latitude,longitude,Month,Day,Time,Year
34904,1/1/14 00:00,Kettering,OH,Circle,45.0,Strange orange ball.,1/10/14,39.689504,-84.168827,1,1,:00,14 0
34905,1/1/14 00:00,Trussville,AL,Light,300.0,These were not planes I know this for a fact.,1/16/14,33.619825,-86.608876,1,1,:00,14 0
34906,1/1/14 00:00,Moreno Valley,CA,Light,1800.0,Orange lights over the Moreno Valley sky.,1/10/14,33.942466,-117.229672,1,1,:00,14 0
34907,1/1/14 00:00,Austin,TX,Circle,300.0,"Orange orbs above Austin, TX, on New Years 2014.",1/10/14,30.267153,-97.743061,1,1,:00,14 0
34908,1/1/14 00:00,Milpitas,CA,Light,120.0,Slow moving orange light floated up over hills...,1/10/14,37.432334,-121.899574,1,1,:00,14 0

In [124]:
##cocatinate the sheets
Master_sheet1= pd.concat([csv_kag1, web_csv], ignore_index=True)


Master_sheet=Master_sheet1[["datetime", "city", "state", "shape","duration (seconds)","comments", "date posted","latitude", "longitude","Month","Day", "Time", "Year" ]]

Master_sheet.head()

,datetime,city,state,shape,duration (seconds),comments,date posted,latitude,longitude,Month,Day,Time,Year
0,10/10/1993 22:00,peoria,il,light,8.0,Light over Peoria&#44 IL that moves slowly&#44...,10/11/2005,40.693611,-89.588889,10,10,22:00,1993
1,10/10/1993 23:00,carthage,tn,other,60.0,1 object with green and red lights,3/21/2003,36.252222,-85.951667,10,10,23:00,1993
2,10/10/1994 18:30,burnt hills,ny,rectangle,120.0,Giant rectangular craft (resembling an upside-...,10/23/2013,42.909722,-73.895556,10,10,18:30,1994
3,10/10/1994 22:00,pinebergen,ar,light,5.0,Round&#44 bright&#44 low flying object silentl...,2/18/2001,34.102778,-91.992222,10,10,22:00,1994
4,10/10/1996 03:20,higginsville,mo,triangle,3.0,illuminated triangular craft&#44 flying at hig...,2/16/2000,39.072500,-93.716944,10,10,03:20,1996

In [126]:
Master_sheet["Unique_ID"] = range(1, len(Master_sheet) + 1)
Master_sheet.tail(100)

,datetime,city,state,shape,duration (seconds),comments,date posted,latitude,longitude,Month,Day,Time,Year,Unique_ID
92940,1/2/14 19:00,Venice,FL,Egg,1200.0,"Floating, glowing objects that at one point fo...",2/7/14,27.099778,-82.454263,1,2,:00,14 1,92941
92941,1/2/14 18:30,Tucson (north of),AZ,Circle,1200.0,Red and orange orb over the foothills in Tucso...,1/10/14,32.222607,-110.974711,1,2,:30,14 1,92942
92942,1/2/14 17:30,Austin,TX,Circle,1800.0,"Light on top left of moon, followed by white l...",1/10/14,30.267153,-97.743061,1,2,:30,14 1,92943
92943,1/2/14 16:45,Riverside,CA,Sphere,600.0,I was on the corner of Blaine and Massachusett...,1/10/14,33.980601,-117.375494,1,2,:45,14 1,92944
92944,1/2/14 11:45,Anchorage,AK,Oval,20.0,Fast flying oval seen in the daylight past Chu...,1/7/15,61.218056,-149.900278,1,2,:45,14 1,92945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93035,1/1/14 00:00,Kettering,OH,Circle,45.0,Strange orange ball.,1/10/14,39.689504,-84.168827,1,1,:00,14 0,93036
93036,1/1/14 00:00,Trussville,AL,Light,300.0,These were not planes I know this for a fact.,1/16/14,33.619825,-86.608876,1,1,:00,14 0,93037
93037,1/1/14 00:00,Moreno Valley,CA,Light,1800.0,Orange lights over the Moreno Valley sky.,1/10/14,33.942466,-117.229672,1,1,:00,14 0,93038
93038,1/1/14 00:00,Austin,TX,Circle,300.0,"Orange orbs above Austin, TX, on New Years 2014.",1/10/14,30.267153,-97.743061,1,1,:00,14 0,93039
93039,1/1/14 00:00,Milpitas,CA,Light,120.0,Slow moving orange light floated up over hills...,1/10/14,37.432334,-121.899574,1,1,:00,14 0,93040

In [127]:
Master_sheet.to_csv(r'Master_sheet_ufo_data_3_1_8_2021.csv', index= False)

In [128]:
Master_sheet_3 = Master_sheet[["city", "state", "shape", "duration (seconds)","latitude", 
                               "longitude", "Month", "Day", "Time", "Year", "Unique_ID"]]

Master_sheet_3

,city,state,shape,duration (seconds),latitude,longitude,Month,Day,Time,Year,Unique_ID
0,peoria,il,light,8.0,40.693611,-89.588889,10,10,22:00,1993,1
1,carthage,tn,other,60.0,36.252222,-85.951667,10,10,23:00,1993,2
2,burnt hills,ny,rectangle,120.0,42.909722,-73.895556,10,10,18:30,1994,3
3,pinebergen,ar,light,5.0,34.102778,-91.992222,10,10,22:00,1994,4
4,higginsville,mo,triangle,3.0,39.072500,-93.716944,10,10,03:20,1996,5
...,...,...,...,...,...,...,...,...,...,...,...
93035,Kettering,OH,Circle,45.0,39.689504,-84.168827,1,1,:00,14 0,93036
93036,Trussville,AL,Light,300.0,33.619825,-86.608876,1,1,:00,14 0,93037
93037,Moreno Valley,CA,Light,1800.0,33.942466,-117.229672,1,1,:00,14 0,93038
93038,Austin,TX,Circle,300.0,30.267153,-97.743061,1,1,:00,14 0,93039
93039,Milpitas,CA,Light,120.0,37.432334,-121.899574,1,1,:00,14 0,93040

In [129]:
Master_sheet_3= Master_sheet_3.replace('', np.NaN)

Master_sheet_3= Master_sheet_3.dropna()

In [130]:
#Check to see if there are any null values in the dataframe
check_nan_in_df = Master_sheet_3.isnull().values.any()
print (check_nan_in_df)

False

In [131]:
Master_sheet_3.to_csv(r'FINAL_Master_sheet_ufo_data_3.csv', index= False)

In [94]:
Test_sheet=Master_sheet_3[:300]
Test_sheet_1= Test_sheet.replace('', np.NaN)

Test_sheet_1= Test_sheet_1.dropna()
Test_sheet_1

,city,state,shape,duration (seconds),latitude,longitude,Month,Day,Time,Year,Unique_ID
0,peoria,il,light,8.0,40.693611,-89.588889,10,10,22:00,1993,1
1,carthage,tn,other,60.0,36.252222,-85.951667,10,10,23:00,1993,2
2,burnt hills,ny,rectangle,120.0,42.909722,-73.895556,10,10,18:30,1994,3
3,pinebergen,ar,light,5.0,34.102778,-91.992222,10,10,22:00,1994,4
4,higginsville,mo,triangle,3.0,39.072500,-93.716944,10,10,03:20,1996,5
...,...,...,...,...,...,...,...,...,...,...,...
295,union city,ca,other,15.0,37.595833,-122.018056,10,11,21:35,2010,296
296,omaha,il,chevron,120.0,37.890278,-88.303056,10,11,03:15,2011,297
297,henderson,nv,other,180.0,36.039722,-114.981111,10,11,08:40,2011,298
298,cedar city,ut,light,8.0,37.677500,-113.061111,10,11,15:00,2011,299
299,des moines,ia,light,90.0,41.600556,-93.608889,10,11,19:40,2011,300

In [96]:
Test_sheet_1['shape'].unique()

array(['light', 'other', 'rectangle', 'triangle', 'cylinder', 'delta',
       'sphere', 'changing', 'fireball', 'cigar', 'circle', 'unknown',
       'chevron', 'oval', 'diamond', 'flash', 'formation', 'egg', 'disk',
       'teardrop'], dtype=object)

In [ ]:
Test_sheet_1.to_csv(r'Test_sheet_1.csv', index= False)

In [106]:
Master_sheet_3.sort_values(by=['duration (seconds)'], inplace=True)
Master_sheet_3_5=Master_sheet_3 .dropna()
Master_sheet_3_5.tail(200)

/Users/heatherallardice/opt/anaconda3/envs/Pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,city,state,shape,duration (seconds),latitude,longitude,Month,Day,Time,Year,Unique_ID
19360,green lake,wi,unknown,37800.0,43.844167,-88.960000,1,8,17:30,2014,19361
40443,carson,ca,triangle,37800.0,33.831389,-118.281111,7,1,22:22,2010,40444
49217,milwaukee,wi,formation,37800.0,43.038889,-87.906389,8,21,03:30,2004,49218
21877,graham,nc,light,37800.0,36.068889,-79.400833,2,26,05:30,2011,21878
54074,san marcos,ca,changing,37800.0,33.143333,-117.165278,9,16,04:15,2002,54075
...,...,...,...,...,...,...,...,...,...,...,...
36319,huntington,ny,light,6312000.0,40.868056,-73.426111,6,15,21:00,2012,36320
23312,menifee,ca,unknown,10526400.0,33.728333,-117.145556,3,1,01:00,1994,23313
51353,virginia beach,va,fireball,10526400.0,36.852778,-75.978333,8,3,21:00,2008,51354
46686,finley,wa,light,52623200.0,46.154167,-119.032778,8,10,21:00,2012,46687
49883,englewood,fl,light,52623200.0,26.961667,-82.352778,8,24,01:00,2002,49884

In [132]:
Master_sheet_3['duration (seconds)'].max()

52623200.0

In [133]:
Master_sheet_3['duration (seconds)'].min()

0.0